<% layout('layout/boilerplate') %> 

<div class="d-flex justify-content-center mt-5 mx-5">
    <div class="card shadow p-5 pt-0 m-5 bg-body rounded" style="width:60em ;">
        <div class="card-body">
            <div class="text-center fs-2 my-3 fw-bold text-success">Edit Task</div>
            <form action="/update/<%= id1 %>/<%= id2 %>  " method="post">
                <% rows.map((o)=>{ %>
                    <label for="title" class="form-label m-2 fs-5">Task:</label>
                    <input type="text" class="form-control m-2" id="title" name="name" value="<%= o.name %>" >
                    <label for="status" class="form-label m-2 fs-5">Status:</label>
                    <input type="text" class="form-control m-2" id="status" name="status" value=<%= o.status %> >
                    <div class="d-flex justify-content-center">
                    <button class="btn btn-lg btn-success">update</button>
                 
                </div>
                <% }) %> 
                </form>
                
        </div>
        </div>
      </div>